.experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--section-size);
  height: max-content;
  background-color: var(--third-black);
  padding: 3rem 0rem;
}

.title {
  font-size: xx-large;
  font-weight: 500;
  color: var(--first-color);
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.jobs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 100%;
  padding-left: 2rem;

  .job {
    display: flex;
    align-items: center;
    background-color: var(--third-black);
    margin-bottom: 10px;
    border-left: 5px solid transparent;
    padding: 5px;
    cursor: pointer;

    img {
      width: 2.5rem;
      height: 2.5rem;
    }

    &:hover {
      background-color: var(--fourth-black);
      border-left: 5px solid var(--first-color);
    }
  }

  .jobInformation {
    display: flex;
    flex-direction: column;

    padding-left: 10px;
    color: var(--first-white);
  }

  .jobInformation .companyName {
    color: var(--first-color);
  }

  .jobInformation .jobDate {
    color: var(--third-white);
  }
}

.jobDetail {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 100%;
  margin-right: 2rem;
  padding: 2rem;
  background-color: var(--fourth-black);

  .companyName {
    color: var(--third-color);
    font-size: x-large;
  }

  .jobTitle {
    color: var(--first-color);
    font-size: x-large;
  }

  .jobDescription {
    padding-top: 0.5rem;
    color: var(--first-white);

    p {
      padding-top: 1rem;
      text-align: justify;
    }
  }

  .jobDate {
    color: var(--third-white);
  }
}

@media screen and (max-width: 1024px) {
  .experiences {
    padding: 0rem;
  }

  .details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  .jobs {
    width: 90%;
    padding: 0rem;
  }

  .jobDetail {
    width: 90%;
    margin: 0rem;
    padding: 1rem 0rem;

    span {
      padding: 0rem 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .experiences {
    width: 100%;
  }
}
