:root {
  --first-white: #ffffff;
  --second-white: #e2e2e2;
  --third-white: #b8b8b8;

  --first-black: #0c0c0c;
  --second-black: #121212;
  --third-black: #151515;
  --fourth-black: #202020;

  // BLUE COLOR
  --first-color: #4c4af1;
  --second-color: #5d5aff;
  --third-color: #7876fc;

  // // PURPLE COLOR
  // --first-color: #995aff;
  // --second-color: #b588ff;
  // --third-color: #d1b5ff;

  --section-size: 80%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
