:root {
  --first-white: #ffffff;

  --first-black: #0c0c0c;
  --second-black: #121212;
  --third-black: #151515;

  --first-purple: #995aff;
  --second-purple: #b588ff;
  --third-purple: #d1b5ff;

  --section-size: 80%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
