.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--section-size);
  padding: 2rem 0rem;
  background-color: var(--second-black);
}

.title {
  color: var(--first-color);
  font-size: xx-large;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.skillsBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 0rem 5rem;

  .skill {
    text-align: center;
    background-color: var(--fourth-black);
    border-radius: 5px;
    padding: 1rem 0.5rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  .skill img {
    height: 4rem;
  }

  .skill p {
    margin-top: 0.2rem;
    color: var(--first-white);
  }
}

@media screen and (max-width: 768px) {
  .skills {
    width: 100%;
  }

  .skillsBox {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .skillsBox {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 375px) {
  .skillsBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
