.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--section-size);
  padding: 2rem 0rem;
  background-color: var(--third-black);
}

.details {
  display: flex;
  flex-direction: row;

  .image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image img {
    width: 18rem;
    border-left: 8px solid var(--first-color);
  }

  .information {
    width: 50%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--first-white);
  }

  .information span {
    margin-bottom: 20px;
  }

  .information .location {
    font-size: x-large;
    color: var(--second-white);
  }

  .information .aboutMeDetails {
    font-size: large;
    text-align: justify;
    color: var(--third-white);

    p {
      margin-bottom: 12px;
    }
  }

  .information .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      cursor: pointer;
      transition: 0.3s;

      svg {
        color: var(--second-color);
        font-size: 2.5rem;

        &:hover {
          color: var(--first-white);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .details .image {
    width: 100%;

    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;

    img {
      width: 18rem;
    }
  }

  .details .information {
    width: 80%;
    padding: 10px;
  }

  .details .information button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .about {
    width: 100%;
  }

  .details .image {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .details .information .title {
    font-size: x-large;
  }
}
