.about {
  display: flex;
  justify-content: center;
  width: var(--section-size);
  padding: 2rem 0rem;
  background-color: var(--third-black);
  padding: 100px 0px;
}

.image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-left: 5px solid var(--first-purple);
    border-bottom: 5px solid var(--first-purple);
  }
}

.information {
  width: 50%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--first-white);

  img {
    width: 18rem;
  }
}

.information span {
  margin-bottom: 20px;
}

.information .title {
  font-size: xx-large;
  color: var(--first-purple);
}

.information .location {
  font-size: x-large;
  color: var(--third-purple);
}

.information .details {
  font-size: large;

  p {
    margin-bottom: 12px;
  }
}

.information .button {
  color: var(--first-white);
  background-color: var(--first-purple);
  cursor: pointer;

  border: none;
  border-radius: 5px;
  transition: 0.3s;

  width: 10rem;
  padding: 10px;

  text-align: center;
  font-size: larger;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    background-color: var(--second-purple);
  }
}

@media screen and (max-width: 1024px) {
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
  }

  .image {
    width: 100%;

    justify-content: center;
    align-items: center;

    img {
      width: 18rem;
      padding-bottom: 50px;
    }
  }

  .information {
    width: 80%;
  }

  .information button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .about {
    width: 100%;
  }

  .image {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .information .title {
    font-size: x-large;
  }
}
