.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--section-size);
  padding: 2rem 0rem;
  background-color: var(--third-black);
}

.title {
  color: var(--first-color);
  font-size: xx-large;
  text-transform: uppercase;

  span {
    border-bottom: 0.2rem solid var(--first-color);
  }
}

.details {
  display: flex;
  flex-direction: row;

  .image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image img {
    width: 18rem;
    border-left: 8px solid var(--first-color);
  }

  .information {
    width: 50%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--first-white);
  }

  .information span {
    margin-bottom: 20px;
  }

  .information .title {
    font-size: xx-large;
    color: var(--first-color);
  }

  .information .location {
    font-size: x-large;
    color: var(--third-color);
  }

  .information .aboutMeDetails {
    font-size: large;
    text-align: justify;

    p {
      margin-bottom: 12px;
    }
  }

  .information .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      cursor: pointer;

      border: 3px solid var(--first-color);
      border-radius: 5px;
      transition: 0.3s;

      width: 10rem;
      padding: 10px;

      text-align: center;
      font-size: larger;
      text-decoration: none;
      font-weight: 500;
    }

    .buttonOne {
      color: var(--first-white);
      background-color: var(--first-color);

      &:hover {
        background-color: var(--second-color);
        border: 3px solid var(--second-color);
      }
    }

    .buttonTwo {
      color: var(--first-white);
      background-color: transparent;

      &:hover {
        background-color: var(--first-color);
      }
    }

    .buttonThree {
      color: var(--first-white);
      background-color: var(--first-color);

      &:hover {
        background-color: var(--second-color);
        border: 3px solid var(--second-color);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .details .image {
    width: 100%;

    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;

    img {
      width: 18rem;
    }
  }

  .details .information {
    width: 80%;
    padding: 10px;
  }

  .details .information button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .about {
    width: 100%;
  }

  .details .image {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .details .information .buttons {
    flex-direction: column;

    a {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}

@media screen and (max-width: 375px) {
  .details .information .title {
    font-size: x-large;
  }
}
