.navbar {
  width: var(--section-size);
  position: fixed;
  top: 0;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--third-black);

  h1 {
    color: var(--first-purple);
    font-size: xx-large;
    cursor: pointer;
  }

  .navItems {
    display: flex;
  }

  .navItems svg {
    display: none;
    width: 2rem;
    height: 2rem;
  }

  .navItems a {
    color: var(--first-white);
    font-size: large;
    padding-right: 2rem;
    list-style: none;
    text-decoration: none;

    transition: 0.3s;

    cursor: pointer;

    &:hover {
      color: var(--first-purple);
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    display: flex;

    .navItems a {
      display: none;
    }

    .navItems svg {
      display: block;
      color: var(--first-purple);
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
  }
}
